<footer class="uk-background-primary uk-padding">
  <div class="uk-child-width-1-2@s uk-child-width-1-3@m" uk-grid>
    <div class="uk-light">
      <h3><span uk-icon="icon: file"></span> 売却・譲渡</h3>
      <ul class="uk-nav uk-nav-default">
        <li><a href="/business-transfer">企業の友好的売却・譲渡</a></li>
        <li><a href="/business-transfer/transfer-schedule">トップ面談から最終契約まで</a></li>
        <li><a href="/business-transfer/necessary-documents">必要資料一覧</a></li>
        <li class="uk-nav-divider"></li>
        <li><a href="/business-transfer/tranfer-fee">報酬表</a></li>
      </ul>
    </div>
    <div class="uk-light">
      <h3><span uk-icon="icon: file"></span> 買収・譲受</h3>
      <ul class="uk-nav uk-nav-default">
        <li><a href="/acquisitions">企業の買収・譲受</a></li>
        <li><a href="/acquisitions/acquisitions-schedule">トップ面談から最終契約まで</a></li>
        <li class="uk-nav-divider"></li>
        <li><a href="/acquisitions/acquisitions-fee">報酬表</a></li>
      </ul>
    </div>
    <div>
      <div class="uk-light">
        <h3><span uk-icon="icon: location"></span> アクセス</h3>
        <p>〒600-8020 京都市下京区河原町五条東北角清水ビル</p>
        <p><span uk-icon="icon: phone"></span> 075-351-6677</p>
        <p><a href="/about/">会社概要</a></p>
      </div>
    </div>
  </div>
  <!-- Copyright -->
  <div class="uk-margin-large-top uk-light">
    &copy; {{ 'now' | date: "%Y" }} 株式会社中小企業M&amp;Aサービス.
  </div>
</footer>
<!-- Optional JavaScript -->
<script src="{{ "/assets/js/uikit.min.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/uikit-icons.min.js | absolute_url }}"></script>
