<nav class="uk-navbar-container uk-navbar-transparent" uk-navbar="dropbar: true;">
  <div class="uk-navbar-left">
    <a class="uk-navbar-item uk-logo" href="{{ "/" | absolute_url }}">
      <img uk-svg src="{{ "/assets/images/commons/logo.svg" | absolute_url }}" class="uk-margin-small-right" hidden="true" width="64"> <span class="uk-text-small">株式会社中小企業M&amp;Aサービス</span>
    </a>

  </div>
  <div class="uk-navbar-right uk-navbar-dropbar">
    <ul class="uk-navbar-nav uk-visible@m">
      <li {% if page.url == "/business-transfer/" %} class="uk-active" {% endif %}>
        <a href="/business-transfer/">企業の友好的売却・譲渡</a>
        <div class="uk-navbar-dropdown">
          <ul class="uk-nav uk-navbar-dropdown-nav">
            <li {% if page.url == "/business-transfer/transfer-schedule/" %} class="uk-active" {% endif %}><a href="/business-transfer/transfer-schedule/">トップ面談から最終契約まで</a></li>
            <li {% if page.url == "/business-transfer/necessary-documents/" %} class="uk-active" {% endif %}><a href="/business-transfer/necessary-documents/">必要資料一覧</a></li>
            <li {% if page.url == "/business-transfer/tranfer-fee/" %} class="uk-active" {% endif %}><a href="/business-transfer/tranfer-fee/">報酬表</a></li>
          </ul>
        </div>
      </li>
      <li {% if page.url == "/acquisitions/" %} class="uk-active" {% endif %}>
        <a href="/acquisitions/">企業の買収・譲受</a>
        <div class="uk-navbar-dropdown">
          <ul class="uk-nav uk-navbar-dropdown-nav">
            <li {% if page.url == "/acquisitions/acquisitions-schedule/" %} class="uk-active" {% endif %}><a href="/acquisitions/acquisitions-schedule/">トップ面談から最終契約まで</a></li>
            <li {% if page.url == "/acquisitions/acquisitions-fee/" %} class="uk-active" {% endif %}><a href="/acquisitions/acquisitions-fee/">報酬表</a></li>
          </ul>
        </div>
      </li>
      <li {% if page.url == "/support-system/" %} class="uk-active" {% endif %}><a href="/support-system/">支援体制</a></li>
      <li {% if page.url == "/about/" %} class="uk-active" {% endif %}><a href="/about/">会社概要</a></li>
      <li {% if page.url == "/blog/" %} class="uk-active" {% endif %}>
        <a href="/blog/">MAリポート</a>
      </li>
    </ul>
    <a class="uk-navbar-toggle uk-hidden@m" href="#" uk-toggle="target: #offcanvas-reveal">
      <span uk-navbar-toggle-icon></span><span class="uk-margin-small-left">Menu</span>
    </a>

  </div>
</nav>
<div id="offcanvas-reveal" uk-offcanvas="mode: reveal; overlay: true">
  <div class="uk-offcanvas-bar">
    <button class="uk-offcanvas-close" type="button" uk-close></button>
    <ul class="uk-nav uk-nav-default">
        <li class="uk-nav-header">友好的売却・譲渡</li>
        <li {% if page.url == "/business-transfer/" %} class="uk-active" {% endif %}><a href="/business-transfer/">企業の友好的売却・譲渡</a></li>
        <li {% if page.url == "/business-transfer/transfer-schedule/" %} class="uk-active" {% endif %}><a href="/business-transfer/transfer-schedule/">トップ面談から最終契約まで</a></li>
        <li {% if page.url == "/business-transfer/necessary-documents/" %} class="uk-active" {% endif %}><a href="/business-transfer/necessary-documents/">必要資料一覧</a></li>
        <li {% if page.url == "/business-transfer/tranfer-fee/" %} class="uk-active" {% endif %}><a href="/business-transfer/tranfer-fee/">報酬表</a></li>
        <li class="uk-nav-divider"></li>
        <li class="uk-nav-header">買収・譲受</li>
        <li {% if page.url == "/acquisitions/" %} class="uk-active" {% endif %}><a href="/acquisitions/">企業の買収・譲受</a></li>
        <li {% if page.url == "/acquisitions/acquisitions-schedule/" %} class="uk-active" {% endif %}><a href="/acquisitions/acquisitions-schedule/">トップ面談から最終契約まで</a></li>
        <li {% if page.url == "/acquisitions/acquisitions-fee/" %} class="uk-active" {% endif %}><a href="/acquisitions/acquisitions-fee/">報酬表</a></li>
        <li class="uk-nav-divider"></li>
        <li {% if page.url == "/support-system/" %} class="uk-active" {% endif %}><a href="/support-system/">支援体制</a></li>
        <li {% if page.url == "/about/" %} class="uk-active" {% endif %}><a href="/about/">企業情報</a></li>
        <li class="uk-nav-divider"></li>
        <li {% if page.url == "/blog/" %} class="uk-active" {% endif %}>
          <a href="/blog/">MAリポート</a>
        </li>
    </ul>
  </div>
</div>
